.header {
  min-height: 100vh;
  background: $gradient-main;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__text-wrap {
    color: $color-white;
    text-align: right;
    padding-right: $mg-medium;
    width: 100%;

    .heading,
    .title {
      text-shadow: $text-sha2;
    }

    .heading {
      animation: textFadeUp .4s ease-in;
    }

    .title {
      letter-spacing: 2px;
      animation: textFadeRight .4s ease-in;
      display: block;
    }
  }
}