input,
textarea {
  background: transparent;
  border: $bor-black;
  padding: $mg-small;

  &:focus,
  &:active {
    outline: none;
  }
}

input {
  border: none;
  border-bottom: $bor-black;
}

textarea {
  resize: none;
}

.btn {
  background: $gradient-main;
  display: inline-block;
  padding: $mg-small $mg-medium;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:focus,
  &:active,
  &:visited {
    outline: none;
  }

  &[disabled] {
    filter: grayscale(70%);
    cursor: not-allowed;
  }

  i::before {
    color: $color-black;
  }

  &--wire {
    background: transparent;
    border: $bor-black;
    padding: $mg-small $mg-medium;
    font-weight: bold;
  }
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: $mg-small $mg-medium;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: $text-sha1;
  box-shadow: $box-sha1;

  &--success {
    background: $gradient-cross;
  }

  &--error {
    background: $gradient-second;
  }
}