@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin absCenter($addTransform: '', $position: absolute) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) #{$addTransform};
}

@mixin breakpoint($breakpoint) {
  @media screen and(min-width: $breakpoint) {
    @content;
  }
}

@mixin borderedTitle {
  border-bottom: $bor-main;
  padding-bottom: $mg-tiny;
  display: inline-block;
}