.splitter {
  @include flexCenter;
  position: relative;
  overflow: visible;
  margin: $mg-big 0;
  border: none;

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: $gradient-main;
    border-radius: 3px;
    transform-origin: center;
    animation: scaleToFull .6s ease-in .2s both;
  }

  &::after {
    display: block;
    @include absCenter;
    transform-origin: 0 0;
    content: '';
    width: 10px;
    height: 10px;
    border: 10px solid $color-white;
    background: $gradient-main;
    border-radius: 50%;
    animation: rotate .6s ease-in 1 both;
  }
}