input,
textarea {
  background: transparent;
  border: $bor-black;
  padding: $mg-small;

  &:focus,
  &:active {
    outline: none;
  }
}

input {
  border: none;
  border-bottom: $bor-black;
}

textarea {
  resize: none;
}

.btn {
  background: $gradient-main;
  display: inline-block;
  padding: $mg-small $mg-medium;
  text-decoration: none;
  border: none;

  &:focus,
  &:active,
  &:visited {
    border: none;
    outline: none;
  }

  i::before {
    color: $color-black;
  }

  &--wire {
    background: transparent;
    border: $bor-black;
    padding: $mg-small $mg-medium;
    font-weight: bold;
  }
}