.heading {
  font-size: 3.2rem;
  font-weight: bold;
}

.text {
  font-size: 1.5rem;
  font-weight: 300;
}

.title {
  font-size: 2rem;
}

.heading,
.text,
.title {

  &--white {
    color: $color-white;
  }

  &--grey {
    color: $color-grey0;
  }

  &--grey-light {
    color: $color-grey2;
  }
}

[class^="devicon-"],
[class*=" devicon-"] {
  &::before {
    background: $gradient-second;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}