$icon-wrap-skew: 10deg;

.experience {
  padding: 0 $mg-medium;

  &__heading {
    border-bottom: $bor-main;
    padding-bottom: $mg-tiny;
    display: inline-block;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin: $mg-small 0;
    box-shadow: $box-sha1;
    overflow: hidden;
  }

  &__text {
    padding: $mg-medium;
  }

  &__description {
    font-weight: normal;
  }

  &__title {
    color: $color-black-light;
    border-bottom: $bor-main;
    padding-bottom: $mg-tiny;
    display: inline-block;
  }

  &__time {
    font-weight: 300;
    display: block;
    margin-bottom: $mg-small;
  }

  &__technologies {
    background: $gradient-cross;
    margin-top: $mg-big;
    padding: $mg-large $mg-medium $mg-huge;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: skewY(-$icon-wrap-skew);
    box-shadow: $box-sha1;

    i {
      font-size: 4rem;
      margin: $mg-small $mg-medium;
      filter: contrast(3);
      transform: skewY($icon-wrap-skew);
    }
  }
}

@include breakpoint($breakpoint-m) {
  .experience {
    &__list {
      margin: $mg-big 0;
    }

    &__item {
      display: flex;
    }

    &__text {
      flex-basis: 65%;
    }

    $icon-wrap-skew: 15deg;

    &__technologies {
      margin-top: 0;
      margin-left: $mg-medium;
      padding: $mg-medium $mg-big $mg-medium $mg-big;
      transform: skewX(-$icon-wrap-skew);

      i {
        margin: $mg-medium $mg-large;
        transform: skewX($icon-wrap-skew);
      }
    }
  }
}