.technology {
  margin: $mg-big auto;
  padding: 0 $mg-medium;

  &__heading {
    border-bottom: $bor-main;
    padding-bottom: $mg-tiny;
    display: inline-block;
  }

  &__list {
    margin-top: $mg-medium;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 6rem;

    i {
      flex: 1;
      margin-right: $mg-medium;
      margin-bottom: $mg-medium;

      &::before {
        background-image: $gradient-main;
      }
    }
  }
}

@include breakpoint($breakpoint-m) {
  .technology {
    margin: $mg-huge auto;

    &__list {
      margin-top: $mg-big;
      margin-right: 0;

      i {
        flex-basis: 10%;
        margin: $mg-big 0;
        padding: 0 $mg-medium;
      }
    }
  }
}

@include breakpoint($breakpoint-l) {
  .technology {
    &__list {
      margin-top: $mg-large;
    }
  }
}